@model Prova.Models.Placar

@{
    List<Jogador> jogadores = ViewBag.jogadores;
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Placar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdJogador" class="control-label"></label>
                <select asp-for="IdJogador" class="form-control">
                    @{
                        foreach (var item in jogadores) {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdJogador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pontos" class="control-label"></label>
                <input asp-for="Pontos" class="form-control" />
                <span asp-validation-for="Pontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPonto" class="control-label"></label>
                <input asp-for="DataPonto" class="form-control" />
                <span asp-validation-for="DataPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
